<div class="form-group">
  <% if user_signed_in? %>
    <%= link_to 'New Profile', new_profile_path, class: "form-group" %>
  <% end %>
</div>
<div id="profiles" class="transitions-enabled">
  <% @profiles.each do |profile| %>
    <div class="box panel panel-default">
        <%= image_tag profile.image.url(:medium) %>
        <div class="panel-body">
            <%= profile.about %>
            <%= profile.breed %>
            <%= profile.user.email if profile.user %>
        <%= link_to 'Show', profile, class: "form-group" %>
      <% if profile.user == current_user %>
        <%= link_to 'Edit', edit_profile_path(profile), class: "form-group" %>
        <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "form-group" %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>

