<%= image_tag @profile.image.url(:medium) %>

<p class="form-group">
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p class="form-group">
  <strong>Breed:</strong>
  <%= @profile.breed %>
</p>

<div class="form-group">
	<% if @profile.user == current_user %>
	<%= link_to 'Edit', edit_profile_path(@profile), class: "form-group" %> |
	<% end %>
	<%= link_to 'Back', profiles_path, class: "form-group" %>
</div>
